@model IEnumerable<photo_points.Models.Capture>

@foreach (var itm in Model)
{
        <div class="container card-body-sm" capture-card-id="@itm.captureID">
            <div style="overflow:hidden;" class="h-50 row">
                <img class="card-img-sm" src="@string.Format("data:{0}; base64,{1}", "image/jpeg", Convert.ToBase64String(itm.photo))" />
            </div>
            <div class="h-50 row card-body">
                <h3>@itm.PhotoPoint.locationName</h3>
                <div class="h-50 col-sm-10">
                    <div class="row">
                        <h6>@itm.captureDate</h6>
                    </div>
                    <div class="row">
                        <h6>@itm.user.firstName @itm.user.lastName</h6>
                    </div>
                </div>
                @if (itm.approval.ToString() == "Approve")
                {
                    <div class="h-25 col-sm-15" capture-id="@itm.captureID">
                        <a style="float:left; margin-right:3px" class="reject btn btn-danger"
                           asp-action="DeleteFromPhotoStream"
                           asp-controller="Admin"
                           asp-route-id="@itm.captureID">Remove</a>
                    </div>
                }
                @if (itm.approval.ToString() == "Pending")
                {
                    <div class="h-25 col-sm-15" capture-id="@itm.captureID">
                        <a style="float:left; margin-right:3px" class="approve btn btn-success">Approve</a>
                        <a style="float:left; margin-right:3px" class="reject btn btn-danger">Reject</a>
                    </div>
                }
                <a href="Details?id=@itm.captureID" class="btn btn-warning">Details</a>
            </div>
        </div>
    }