<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - photo_points</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/images" />
</head>
<body>
    <header>
        <section class="top-banner">
            <div class="logo">
                <a href="~/WelcomeAdmin.html"><img src="/images/fncf-rgb-horizontal-logo_1.jpg" alt="Northcreek Forest" /></a>
            </div>

            <div class="logout">
                @*there is no Logout page yet*@
                <input type="button" onclick="location.href = '/Logout.html';" value="Log Out">
            </div>
        </section>

        <section class="banner">
            <div>
                <h1>Welcome, &#91;Administrator&#93;</h1>
                @*once Models have been initiated below line can be uncommented*@
                @*<h1> Welcome, @Model.firstName</h1>*@
</div>
        </section>
    </header>


    <section class="admin-nav">
        <nav class="menu-options">
            <article class="menu-one">
                <div>
                    @Html.ActionLink("Photo Stream", "PhotoStream")
                </div>
            </article>

            <article class="menu-two">
                <div>
                    @Html.ActionLink("Pending", "Pending")
                </div>
            </article>

            <article class="menu-one">
                <div>
                    @Html.ActionLink("Collaborators", "Collaborators")

                </div>
            </article>
        </nav>
    </section>

    <section class="content">
        <section class="main-body">
            @*<div class="pending-update">
                <p><b>&#91;8&#93; pending submissions</b></p>
            </div>*@

            <div class="admin-content-first">

                @RenderBody()

            </div>




        </section>
    </section>

    <footer class="footer-main">
        <section class="all-footer-content">


            @*<article class="footer-content">
            <div class="footer-content-two">
                <p>
                    <img src="/images/Bothell-Kenmore-Chamber-logo-stacked.png" alt="Bothell Kenmore Chamber" style="width: 100px; height: 100px" />
                </p>
            </div>
        </article>*@
            <article class="footer-content">
                <div class="footer-content-one">
                    <h3>Administration information:</h3>
                    <p>Contact administration </p>
                    <p>Phone: </p>
                    <p>Email: </p>
                    <p>For technical support call: .</p>
                </div>
            </article>
            @*<article class="footer-content">
            <div class="footer-content-three">
                <h3>Friends of North Creek Forest Mission Statement:</h3>
                <p>To maintain and improve ecological function of North Creek Forest through Education, Stewardship, and Conservation in perpetuity.</p>
                <p>Friends of North Creek Forest is a 501(c)3 non-profit corporation. Donations of any amount are gratefully accepted and are tax deductible as allowed by law. EIN: 27-5439187.</p>
            </div>
        </article>*@
        </section>
    </footer>

</body>
