
@model photo_points.Models.Capture
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewBag.Title = "Details";
    var editable = Model.approval.Equals(Capture.ApprovalType.Pending);
    var editClass = editable ? "editable" : "";
}

<link rel="stylesheet" href="~/css/details.css">

<div class="left">
    <img src="@string.Format("data:{0}; base64,{1}", "img/jpeg", Convert.ToBase64String(Model.photo))" />
</div>
<div class="right">
    <h2>Capture @Model.captureID Details</h2>
    <div class="detailsRow">Created on @Model.captureDate by User @Model.user.firstName @Model.user.lastName</div>
    <div class="detailsRow">Linked Photo Point {#@Model.PhotoPoint.photoPointID} @Model.PhotoPoint.feature @Model.PhotoPoint.locationName</div>
    <br />
    <div class="detailsRow">
        <div class="detailsTitle">Tags</div>
        <div class="tags">
            @foreach (Tag tag in Model.tags)
            {
                <div class="pill @editClass" data-type="tag" data-id="@tag.tagID">
                    @if (editable)
                    {
                        <div class="delPill">x</div>
                    }
                    <div class="pillText">@tag.tagName</div>
                </div>
            }
        </div>
        <br />
        <div class="detailsRow">
            <div class="detailsTitle">Data</div>
            <div class="tags">
                @foreach (Data data in Model.data)
                {
                    <div class="pill @editClass" data-type="data" data-id="@data.dataID">
                        @if (editable)
                        {
                            <div class="delPill">x</div>
                        }
                        <div class="dataType">
                            <div class="pillText">@data.type</div>
                        </div>
                        <div class="dataValue">
                            <div class="pillText">@data.value</div>
                        </div>
                    </div>
                }
            </div>
            <br />
            <div class="detailsRow">
                <div class="detailsTitle">Status</div>
                <div>@Model.approval</div>
            </div>

            @if (editable)
            {
                <br />
                <div class="detailsRow">
                    <form id="captureChanges" action="EditCapture" method="post">
                        <div class="detailsTitle">Take Action</div>
                        <div>
                            <div class="btn btn-success">Approve</div>
                            <div class="btn btn-danger">Deny</div>
                            <div class="btn btn-warning">Discard Changes</div>
                        </div>
                    </form>
                </div>
            }

            <script type="text/javascript">
                var form = $("#captureChanges");
                $(".btn-success").click(function () {
                    form.append($("<input style='display:none;' name='status' value='approve'>"));
                    form.submit();
                });
                $(".btn-danger").click(function () {
                    form.append($("<input style='display:none;' name='status' value='deny'>"));
                    form.submit();
                });
                $(".btn-warning").click(function () {
                    window.history.back();
                })
                var changes = $("#captureChanges");
                var delPills = $(".delPill");
                delPills.click(
                    function () {
                        var t = $(this).parent();
                        var type = t.attr("data-type");
                        var id = t.attr("data-id");
                        var inp = $("<input style='display:none;' name='" + type + "' value='" + id + "'/>");
                        changes[0].append(inp[0]);

                        var parent = $(t[0]).parent();
                        t[0].remove();
                        if (parent.find(".delPill").length == 0)
                            parent.empty();
                       
                    });
                var editablePills = $(".editable");
                editablePills.hover(
                    function () {
                        $(this).find(".delPill").toggleClass("shown");
                    }
                );

            </script>

        </div>

