@model photo_points.ViewModels.PendingViewModel;

@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewBag.Title = "Pending";
}


<h2>Pending Submission</h2>
<p><i>Submissions waiting administration approval</i></p>

<form asp-action="Pending" asp-controller="Admin">

    @foreach (Capture capture in @Model.PendingCaptures)
    {
            
        <div class="container card-body-sm">
            <div style="overflow:hidden;" class="h-50 row">
                <img class="card-img-sm" src="@string.Format("data:{0}; base64,{1}", "image/jpeg", Convert.ToBase64String(capture.photo))" />
            </div>
            <div class="h-50 row card-sm-content">
                <h3>@capture.PhotoPoint.locationName</h3>
                <div class="h-25 col-sm-10">
                    <div class="row">
                        <h6>@capture.captureDate</h6>
                    </div>
                    <div class="row">
                        <h6>@capture.user.firstName @capture.user.lastName</h6>
                    </div>
                </div>
                <div class="h-25 col-sm-15">
                    <a href="EditCapture?id=@capture.captureID&status=approve" style="float:left" class="btn btn-success">Approve</a>
                    <a href="EditCapture?id=@capture.captureID&status=deny" style="float:left"  class="btn btn-danger">Deny</a>
                    <a href="Details?id=@capture.captureID" class="btn btn-warning">Details</a>
                </div>
            </div>
        </div>
    }

</form>

