@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model photo_points.ViewModels.PhotoStreamViewModel;
@{
    ViewData["Title"] = "Welcome";
    Layout = "../Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/js/captureStatusButtons.js"></script>

<h2>PhotoStream</h2>

<form asp-action="PhotoCard" 
      asp-controller="Admin">
       
    @foreach (Capture capture in @Model.ApprovedCaptures)
        {
            <div class="container card-body-sm" capture-card-id="@capture.captureID">
                <div style="overflow:hidden;" class="h-50 row">
                    <img class="card-img-sm" src="@string.Format("data:{0}; base64,{1}", "image/jpeg", Convert.ToBase64String(capture.photo))" />
                </div>
                <div class="h-50 row card-body">
                    <h3>@capture.PhotoPoint.locationName</h3>
                    <div class="h-50 col-sm-10">
                        <div class="row">
                            <h6>@capture.captureDate</h6>
                        </div>
                        <div class="row">
                            <h6>@capture.user.firstName @capture.user.lastName</h6>
                        </div>
                    </div>
                    <div class="h-25 col-sm-15" capture-id="@capture.captureID">
                        <a style="float:left; margin-right:3px" class="reject btn btn-danger" asp-action="DeleteFromPhotoStream" asp-controller="Admin"
                       asp-route-id="@capture.captureID">Remove</a>
                        <a href="Details?id=@capture.captureID" class="btn btn-warning">Details</a>
                    </div>
                </div>
            </div>
        }
    </form>

