@model photo_points.ViewModels.SearchViewModel;

@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewBag.Title = "Pending";
}

<script type="text/javascript" src="~/js/captureStatusButtons.js"></script>

<h2>Search Results</h2>
<p><i>Submissions waiting administration approval</i></p>

<form asp-action="SearchCaptures" asp-controller="Admin">

    @foreach (Capture capture in @Model.SearchCaptures)
    {

        <div class="container card-body-sm" capture-card-id="@capture.CaptureId">
            <div style="overflow:hidden;" class="h-50 row">
                <img class="card-img-sm" src="@string.Format("data:{0}; base64,{1}", "image/jpeg", Convert.ToBase64String(capture.Photo))" />
            </div>
            <div class="h-50 row card-body">
                <h3>@capture.PhotoPoint.LocationName</h3>
                <div class="h-50 col-sm-10">
                    <div class="row">
                        <h6>@capture.CaptureDate</h6>
                    </div>
                    <div class="row">
                        <h6>@capture.User.FirstName @capture.User.LastName</h6>
                    </div>
                </div>
                <div class="h-25 col-sm-15" capture-id="@capture.CaptureId">
                    <a style="float:left; margin-right:3px" class="approve btn btn-success">Approve</a>
                    <a style="float:left; margin-right:3px" class="reject btn btn-danger">Reject</a>
                    <a href="Details?id=@capture.CaptureId" class="btn btn-warning">Details</a>
                </div>
            </div>
        </div>
    }
</form>